@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #e5beec;
  font-family: "Roboto", sans-serif;
}

header {
  display: inline;
}

header .jumbotron {
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: #2a2f4f;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .jumbotron h1 {
  font-weight: 700;
}

header .jumbotron p {
  font-weight: 300;
}

header nav {
  position: sticky;
  background-color: #917fb3;
  /* height: 30px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 7.5%;
}

header nav a {
  margin: 9px;
  font-size: 14px;
  text-decoration: none;
  color: #eaeaea;
}

header nav a:hover {
  color: #2a2f4f;
  /* text-decoration: underline; */
}

header nav a::after {
  content: "";
  display: block;
  padding-bottom: 3px;
  border-bottom: 2px solid #2a2f4f;
  transform: scaleX(0);
  transition: 0.3s;
}

header nav a:hover::after {
  transform: scaleX(0.5);
}

main {
  margin: 20px 7%;
}

main .content {
  display: flex;
  gap: 1rem;
}

main .content .article {
  font-size: 14px;
  margin: 10px 0;
  padding: 20px;
}

main .content .article .sejarah,
.geografis,
.pariwisata {
  text-align: justify;
  width: 90%;
  background-color: #fde2f3;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
}

main .content .article h1 {
  margin: 30px 0;
}

main .content .profile {
  background-color: #fde2f3;
  height: 200px;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
  margin: 45px 0;
  text-align: center;
  font-size: 14px;
}

main .content .profile img {
  border-radius: 75px;
}

footer {
  padding: 10px;
  background-color: #2a2f4f;
  text-align: center;
  color: #eaeaea;
}

footer p a {
  text-decoration: none;
  color: #eaeaea;
}

footer p a:hover {
  text-decoration: underline;
}

/* media query */

@media screen and (max-width: 768px) {
  header nav {
    justify-content: center;
  }
  main {
    margin: 20px 2%;
  }
  main .content {
    display: inline;
  }
  main .content .profile {
    /* display: flex;
    flex-direction: column; */

    /* justify-content: center; */
    /* width: 90%; */
    margin: 0 10%;
  }
}

@media screen and (max-width: 576px) {
  /* header .jumbotron{
  font-size: 80%;
 } */
  body {
    font-size: 70%;
  }
}
